<header class="main-header">
  <div class="header-content">
    <div class="logo">
    <a routerLink="/home">
    <img src="assets/logo/logotype.png" alt="Logo da InovaTech">
    </a>
  </div>
    <nav class="main-nav">
  <ul>
    <li><a routerLink="/home" class="active">Início</a></li>
    
    <li><a routerLink="/event">Eventos</a></li>
    
  </ul>
</nav>
    <button class="login-btn" (click)="auth.login()">
      <span>Login</span>
      <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 4L12.59 5.41L18.17 11H2V13H18.17L12.59 18.59L14 20L22 12L14 4Z" fill="currentColor"/>
      </svg>
    </button>
  </div>
</header>